<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Dashboard - SB Admin</title>
    <link href="{% static "encounter/css/styles.css" %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css'%}">
    <link href="https://cdn.datatables.net/1.10.20/css/dataTables.bootstrap4.min.css" rel="stylesheet" crossorigin="anonymous" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/js/all.min.js" crossorigin="anonymous"></script>
</head>
<body class="sb-nav-fixed">
    <div id="layoutSidenav_content">
        <form action="{% url 'process' %}" method="post">
            {% csrf_token %}
            <div class="container-fluid">
                <div class="d-flex justify-content-center mt-2 mb-2">
                    <div class="col-sm px-3">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="genderIndicationMale" name="gender" value="male">
                            <label class="form-check-label" for="genderIndicationMale">Male</label>
                        </div>
                    </div>
                    <div class="col-sm px-3">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" id="genderIndicationFemale" name="gender" value="female">
                            <label class="form-check-label" for="genderIndicationFemale">Female</label>
                        </div>
                    </div>
                    <div class="col-sm px-3">
                        <div class="d-flex justify-content-center">
                            <div class="col-sm">
                                <label for="ageInput" class="form-label pe-1">Age:</label>
                                </div>
                                <div class="col-sm">
                                    <input class="form-control" type="number" id="patientAge" inputmode="numeric" name="patientAge"></input>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid mb-2">
                    <div class="d-flex justify-content-center">
                        <div class="col-sm px-3">
                            <div class="d-flex justify-content-center">
                                <div class="col-sm px-1">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" id="clinic" name="clinicLocation" value="clinic">
                                        <label class="form-check-label" for="clinic">clinic</label>
                                    </div>
                                </div>
                                <div class="col-sm px-1">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" id="outPatient" name="clinicLocation" value="outPatient">
                                        <label class="form-check-label" for="outPatient">outPatient</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm mb-3">
                            <div class="d-flex justify-content-center">
                                <div class="col-sm px-1">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" id="followUp" name="followUpVsOutpatient" value="followUp">
                                        <label class="form-check-label" for="clinic">followUp</label>
                                    </div>
                                </div>
                                <div class="col-sm px-1">
                                    <div class="form-check">
                                        <input class="form-check-input" type="radio" id="newPatient" name="followUpVsOutpatient" value="newPatient">
                                        <label class="form-check-label "for="newPatient">new</label>
                                    </div>
                                </div>
                            </div>
                        </div>      
                    </div>
                    <div class="container-fluid">
                        <div class="d-flex justify-content-center">
                            <div class="col-sm mb-1">
                                <div class="container-fluid mb-1">
                                    <label>Sort</label>
                                    <button class="btn btn-primary btn-sm">Name</button>
                                    <button class="btn btn-primary btn-sm">Freq</button>
                                </div>
                                <ul class="list-group mb-2" name="MaladiesToChoose">
                                    <li class="list-group-item">
                                        <input class="form-check-input me-1" type="checkbox" value="Malaria">
                                        Malaria
                                    </li>
                                    <li class="list-group-item"> 
                                        <input class="form-check-input me-1" type="checkbox" value="Mumps">
                                        Mumps 
                                    </li>
                                    <li class="list-group-item"> 
                                        <input class="form-check-input me-1" type="checkbox" value="Woozles">
                                        Woozles 
                                    </li>
                                    <li class="list-group-item"> 
                                        <input class="form-check-input me-1" type="checkbox" value="Dizzy">
                                        Dizzy 
                                    </li>
                                    <li class="list-group-item"> 
                                        <input class="form-check-input me-1" type="checkbox" value="Loving You">
                                        Loving You 
                                    </li>
                                    <li class="list-group-item"> 
                                        <input class="form-check-input me-1" type="checkbox" value="Unsure">
                                        Unsure 
                                    </li>
                                </ul>
                                <div class="container-fluid">
                                    <input class="form-control mb-1" type="text" aria-label="Search/Add To List" aria-describedby="basic-addon2" id="Search/Add To List"/>
                                    <div class="container-fluid d-flex align-content-center justify-content-center">
                                     <button type="button" class="btn btn-primary align-self-center">Add To List</button>
                                 </div>
                             </div>
                         </div>
                         <div class="col-sm align-self-center">
                            <div class="container-fluid d-flex align-content-center justify-content-center">
                            	<button type="button" class="btn btn-primary">Add</button>
                            </div>
                        </div>
                        <div class="col-sm">
                            <label>List of Dx</label>
                            <ul class="list-group mb-2" name="MaladiesChosen" id="MaladiesChosen">
                                <li class="list-group-item">
                                    <input class="form-check-input me-1" type="checkbox" value="Malaria"> 
                                    Malaria 
                                </li>
                            </ul>
                            <button class="btn btn-primary">Remove</button>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="d-flex justify-content-center">
                        <div class="col-sm px-3">
                            <label>Procedure</label>
                        </div>
                        <div class="col-sm px-3">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="perform" name="rolePlayed" value="performed">
                                <label class="form-check-label" for="perform">Perform</label>
                            </div>
                        </div>
                        <div class="col-sm px-3">
                            <div class="form-check">
                                <input class="form-check-input" type="radio" id="assist" name="rolePlayed" value="assisted">
                                <label class="form-check-label" for="assist">Assist</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="notesFormControlTextArea">Notes</label>
                    <input class="form-control mb-2" type="text" id="notesFormControlTextArea" name="notesFormControlTextArea"></input>
                </div>
                <div class="d-flex justify-content-center">
    		<div class="col-sm">
                    	<input type=submit class="btn btn-primary btn-lg" formnovalidate="formnovalidate"></input>
    		</div>
                </div>
            </div>
        </form>
    </div>
    <script>
        function newElement() {
            var li = document.createElement("li");
            var inputValue = document.getElementById("Search/Add To List").value;
            var t = document.createTextNode(inputValue);
            li.appendChild(t);
            if (inputValue === '') {
              alert("You must write something!");
            } else {
              document.getElementById("MaladiesChosen").appendChild(li);
            }
            document.getElementById("Search/Add To List").value = "";
        }
    </script>
</body>
</html>
